@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.close-Btn-Wrap {
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1rem;
  font-size: 25px;
  top: 1px;
  right: 1px;
  overflow: hidden;
  width: 55px;
  height: 55px;
}

#openBtn {
  top: 50%;
  left: 50%;
  font-size: 35px;
  animation: comeBack;
  animation-duration: 1s;
  animation-fill-mode: both;
  cursor: pointer;
}

#openBtn.active {
  animation: goBack;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes goBack {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(300%);
  }
}

@keyframes comeBack {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0%);
  }
}

.black-Box {
  height: 100%;
  width: 70%;
  display: fixed;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  transition: all 1350ms ease-in-out;
  animation-name: goBackWard;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.black-Box .red-Box {
  height: 100%;
  width: 90%;
  display: fixed;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  transition: all 1300ms ease-in-out;
  transform: translateX(-100%);
  animation-name: goBackWard;
  animation-duration: 1.4s;
  animation-fill-mode: both;
}

.black-Box .red-Box .navbar {
  background-color: rgb(187, 187, 187);
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  transition: all 1500ms ease-in-out;
  animation-name: goBackWard;
  animation-duration: 1.3s;
  animation-fill-mode: both;
  z-index: 10;
}

.black-Box .red-Box .navbar .brand-Button-Wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 50%;
}

.black-Box .red-Box .navbar .brand-Button-Wrapper .brand-Img {
  height: 90px;
}

.black-Box .red-Box .navbar .brand-Button-Wrapper #close-Icon {
  font-size: 30px;
  cursor: pointer;
}

.black-Box .red-Box .navbar .nav-Links {
  width: 50%;
  text-align: start;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.black-Box .red-Box .navbar .nav-Links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.black-Box .red-Box .navbar .nav-Links ul li {
  position: relative;
  padding: 1rem;
  transition: all 500ms ease-in-out;
}

.black-Box .red-Box .navbar .nav-Links ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: red;
}

.black-Box .red-Box .navbar .nav-Links ul li a:active {
  color: rgb(158, 158, 158);
}

.black-Box .red-Box .navbar .nav-Links ul li:hover {
  cursor: pointer;
}

.black-Box .red-Box .navbar .nav-Links ul li:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translate(-10%, -50%);
  height: 50%;
  width: 10%;
  background-color: red;
}

@media screen and (max-width: 800px) {
  .black-Box {
    width: 70%;
  }

  .black-Box .red-Box .navbar .brand-Button-Wrapper {
    text-align: center;
    align-items: center;
    width: 70%;
  }

  .black-Box .red-Box .navbar .brand-Button-Wrapper .brand-Img {
    height: 50px;
  }

  .black-Box .red-Box .navbar .nav-Links {
    width: 70%;
  }

  .black-Box .red-Box .navbar .nav-Links ul {
    width: 100%;
  }

  .black-Box .red-Box .navbar .nav-Links ul li {
    width: 100%;
  }

  .black-Box .red-Box .navbar .nav-Links ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: red;
  }
}

.black-Box.active {
  animation-name: goForWard;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.black-Box.active .red-Box.active {
  animation-name: redBoxAni;
  animation-duration: 1.4s;
  animation-fill-mode: both;
}

.black-Box.active .red-Box.active .navbar.active {
  animation-name: navBarAni;
  animation-duration: 1.3s;
  animation-fill-mode: both;
}

@keyframes goForWard {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes redBoxAni {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes navBarAni {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(-10%);
  }
}

@keyframes goBackWard {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
